@keyframes handwriting {
  from {
    width: 0;
    opacity: 100%;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.typing-text-cursor-live {
  display: inline-block;
  opacity: 1;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.typing-text-cursor-blinking {
  display: inline-block;
  animation: blink 1s step-end infinite;
}